*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav bar */
nav{
    width: fill 1600px;
    height: 92px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 314px;
    padding: 30px 200px;
}
.logo{
    color: #FFFFFF;
    width: 219px;
    height: 32px;
}
.gradient{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgb(253, 5, 179),rgba(145, 0, 248, 1))); 
    background-clip: text;
    color: transparent;
}
.nav-menu{
    color:#FFFFFF;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    width: 218px;
    height: 19px;
    column-gap: 32px;
}
.btn{
    width:135px ;
    height: 44px;
    border-radius: 1000px;
    border: none;
    color: rgb(248, 249, 251);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:4px;
    padding: 12px 16px 12px 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgb(253, 5, 179),rgba(145, 0, 248, 1)));
}