@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}
/* nav bar */
.nav{
    max-width: 1600px;
    width:100%;
    height: 92px;
    background-color: #1A0B2E;
    display: flex;
    justify-items:center;
    align-items: center;
    padding: 30px 200px;
}
.menu{
    margin-left: 5px;
    display:none;
}
.logo{
    color: #FFFFFF;
    width: 219px;
    height: 32px;
    margin-right: 314px;
}
.gradient{
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgb(253, 5, 179),rgba(145, 0, 248, 1)); 
    background-clip: text;
    color: transparent;
}
.nav-menu{
    color:#FFFFFF;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    width: 218px;
    height: 19px;
    column-gap: 32px;
    margin-right: 314px;
}
.btn{
    width:135px ;
    height: 44px;
    border-radius: 1000px;
    border: none;
    color: rgb(248, 249, 251);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:4px;
    padding: 12px 16px 12px 16px;
    animation: wave 2s infinite;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgb(253, 5, 179),rgba(145, 0, 248, 1));
}
/* banner design */
#hero-section{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    width: 100%;
    height:760px;
    position: relative;  
}
.img-container{
    position: relative;  
    width: 350px;
    height: 350px; 
    }
   .tool-tip{
       width:75px;
       height:38px;
       background-color: #00FF88;
       font-size: 18px;
       font-weight:600;
       border-radius: 1000px;
       padding: 8px 16px ;
       text-align: center;
       position: relative;
       top: -645px;
       left: 840px;
   }

.bg-img{
  position: relative;
  right:40px;
    width: 100%;
    height: 100%;
    margin: 101px 625px 309px 625px;
}

.top-img{
    position: absolute;
    top: 5%;
    left:85%;
    width: 116px;
    height: auto;
    margin: 178.33px 741.93px 741.4px 406.67px; 
    animation: wave 2s infinite;
}
@keyframes wave {
    0%{
        transform: scale(0.9);
        opacity: 1;
    }
    100%{
        transform: scale(1.);
        opacity: 1;
    }
}
.banner-content{
    width: 550px;
    height: 168px;
    margin:130px 525px 101px 500px ;
}
.banner-text{
    color: #FFFFFF; 
    justify-items: center;
}
.banner-text h1{
     font-size: 60px;
     font-weight: 800;
}
.btn-2{
   display: flex;
   gap: 8px;
    justify-content: center;
    margin-top: 24px;
}
.listen{
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;
    color: #FFFFFF;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgb(253, 5, 179),rgba(145, 0, 248, 1));
}
.subscribe{
    width: 147px;
    height: 44px;
    border:1px solid #00FF88;
    background:none;
    border-radius: 10000px;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;
    color: #00FF88;
}
/* About-section */
#about{
    max-width: 1600px;
    width: 100%;
    height: 648px;
    background-color: #1A0B2E;
    padding: 50px 200px 120px 180px;
}
.content{
  justify-content: center;
  align-items: center;
}
.head{
    color: #FFFFFF;
    font-size: 48px;
    font-weight:700;
    align-self: center;
    justify-self: center;
    margin-left: 5px;
}
.text{
    color: #FFFFFF;
    width: 1200px;
    height: 148px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
}

.text p{
    line-height:40px;
    margin-bottom: 80px;
}
hr{
   height: 0%;
   border:1px solid #3f4e48;
}
.feadback{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 48px;
    font-weight:900;
    color:#00FF88 ;
    text-align: center;
    text-transform: capitalize;
}
.feadback p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
/* Why-choose section */
#why-choose{
   max-width: 1600px;
    width: 100%;    
    height: 1122px;
    background:#1A0B2E;
    padding: 120px 200px ;
    
}
.box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);  
  margin-top: 40px;
  row-gap: 30px;
  column-gap: 30px;
}
h4{ color: #FFFFFF; 
    font-size:24px; 
    font-weight: bold; 
    line-height: 29px; 
    margin-top:16px ;
    margin-bottom: 16px;
} 
.box p{ 
    color: #FFFFFF; 
    font-size: 16px;
 }
.box-1{
  padding: 107.5px 40px;
  background:#351165;
  border-radius: 40px;
  grid-row: span 2;
}

.box-2{
  padding: 40px;
  background:#351165;
  border-radius: 40px;
  grid-column: span 2;
}

.box-3{
  padding: 40px;
  background:#351165;
  border-radius: 40px;
  grid-column: span 2;
}

.box-4{
  padding: 40px;
  background:#351165;
  border-radius: 40px;
  grid-column: span 2;
}

.box-5{
  padding: 40px;
  background:#351165;
  border-radius: 40px;
}
/* Episode section */
#episode{

    max-width: 1600px;
    width: 100%;
    height: 1276px;
    background:#1A0B2E;
    padding: 120px 200px ;
}

.episode-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card{
    width: 380px;
    height: 470px;
    background-color: #250D44;
    border-radius: 15px;
}
.content{
    padding: 24px;
}
.content h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}
.content p{
    color: #FFFFFF;
    font-size: 16px;
}
.duration{
    font: 16px;
    font-weight:600px ;
    display: flex;
    justify-items: center;
    justify-content:left;
    align-content:end;
    align-items: center;
    gap: 6px;
    color: #00FF88;
    margin-top: 12px;
    margin-bottom: 24px;
}

/* Host-part */
.host{
    margin-top: 90px;
    width: 1200px;
    height: 379px;

}
.host-content{
    margin-top: 40px;
    background-color: #250D44;
    display: grid;
    grid-template-columns: 1fr 896px;
    align-items: center;
    border-radius: 25px;
    padding: 40px;
}
.icons{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4,40px);
    gap: 8px;
}
 .icons img{
    border: 1px solid #533C72;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius:50%;
 }
/* footer-content */
footer{
    
    background-image: url("../assets/footer-bg.png");
    max-width:1600px;
    width: 100%;
    height:472px;
     padding: 120px;
}
.footer{
    width:1360px;
    height: 172px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    
}
footer h1{
    font-size: 58px;
    font-weight:900;
    color: #FFFFFF;
    width: 410px;
    height: 60px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-items: center;
    align-items: center;
    gap:40px;
    text-align: center;
}
.footer-content span{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    color: #FAFAFA;
    text-align: center;
}
.footer p{
    color: #FAFAFA;
    text-align: center;
    
}




/* Responsive codes */
@media screen and (max-width:576px){ 
    body{
        overflow-x: hidden;
    }
    header, section, footer {
    max-width: 100%;
    height: auto;
  }
    .nav-menu,
    .btn{
        display: none;
    }
    .nav{
      padding:18px 20px;
      margin: none;
      display: flex;
      justify-content: space-between;
    }
    .menu{
    margin-left: 5px;
    display:inline;
}
/* Hero */
#hero-section {
    height: auto;
    padding: 60px 20px;
    text-align: center;
  }
.img-container {
    width: 220px;
    height: 220px;
    margin: 0 auto;
  }
 .bg-img {
    margin: 0;
    top: -1%;
    left:0.25%;
  }
.top-img {
    margin: 0px;
    top:80px;
    left:42%;
    width: 78px;
    transform: translate(-25%, -25%);
  }

  .tool-tip {
    position: absolute;
    top: -4px;
    left: 170px;
    transform: translateX(-50%);
  }

  .banner-content {
    width: 100%;
    margin: 24px 0 0;
  }

  .banner-text h1 {
    font-size: 40px;
  }

  .banner-text p {
    font-size: 16px;
    margin-top: 8px;
  }

  .btn-2 {
    flex-direction: row;
    align-items: center;
  }

  /* About-section */
  #about {
    padding: 60px 20px;
    height: auto;
  }

  .text {
    width: 100%;
    font-size: 16px;
  }

  .feadback {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    margin-top: 40px;
    font-size: 40px;
  }

  /* why-choose */
  #why-choose {
    padding: 40px 20px;
    height: auto;
  }
   .head{
    font-size: 32px;
   }
  .box {
    grid-template-columns: 1fr;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    border-radius: 24px;
    grid-column: span 1;
    grid-row: span 1;
    padding: 32px;
  }

  /* Episode */
  #episode {
    padding: 40px 20px;
    height: auto;
  }

  .episode-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: 225px;
  }

  /* host-part */
  .host {
    margin-top: 60px;
    width: 100%;
    height: auto;
  }

  .host-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .host-img img{
    width: 160px;
    margin-bottom: 16px;
  }

  .icons {
    justify-content: center;
  }

  /* Footer */
  footer {
    padding: 40px 20px;
    height: auto;
    background-size:cover;
    background-position:center;
  }

  .footer {
    max-width: 576px;
    width: 100%;
    align-items: center;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
  }

  footer h1 {
    font-size: 40px;
  }
}

/* Responsive code for above 992 */
@media screen and (min-width: 992px) {

  /* Nav bar  */
  .nav-menu {
    display: flex;
  }

  .menu {
    display: none;
  }

  /* Hero-section */
  #hero-section {
    height: 760px;
    padding: 0;
    text-align: center;
  }

  .img-container {
    width: 350px;
    height: 350px;
  }

  .banner-text h1 {
    font-size: 60px;
  }

  /* Why choose */
  .box {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Episodes */
  .episode-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Host-part */
  .host-content {
    grid-template-columns: 1fr 896px;
  }
  /* Footer */
  footer{
    height: 412px;
  }
}
